.hr {
    width: 50%;
}

.modal {
    margin: auto !important;
}

.modal-header {
    display: block;
    background: #1c2124;
    color: white;
    border: none;
}

.modal-body {
    font-size: 14px;
}